@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:300,400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.body {
  background: #f8f8f8; }

.__login-container {
  display: flex;
  flex-direction: column;
  width: 36%;
  padding: 5%;
  position: absolute;
  bottom: 145px;
  left: 590px;
  z-index: 1; }

.__login-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 5%;
  position: absolute;
  left: 665px;
  top: 80px; }

.__login-titulo {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 34px; }

.__login-formulario {
  width: 50%;
  display: flex;
  flex-direction: column; }

.__login-form-label {
  width: 83px;
  height: 12px;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #cecece; }

.__login-form-input {
  border: 1px solid #323635;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 8px 0;
  padding-bottom: 8px;
  background-color: #f8f8f8;
  font-family: 'Lato';
  width: 279px; }

.__login-form-button {
  background-color: #FF82EE;
  border-radius: 16px;
  color: #F8F8F8;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  padding: 8px 0;
  margin: 9% 0 4% 0;
  width: 279px; }

.__login-form-button:hover {
  background-color: #CA50BB; }

.__login-caption {
  width: 50%;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  color: #B9B9B9;
  text-align: center; }

.__login-caption-strong {
  font-size: inherit;
  font-family: inherit;
  color: #FF82EE;
  font-weight: bold;
  text-decoration-line: underline; }

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*apilar las cajas*/
  background: #f8f8f8;
  color: #010101;
  box-shadow: 0px 1px 5px black;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 1% 0%;
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%; }

.__header-sign {
  display: flex;
  align-self: center;
  margin: 0% 0% 0% 3%;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 15px; }

.__header-ir {
  display: flex;
  align-items: flex-end; }

.__header-ino {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 13px;
  list-style: none;
  color: inherit;
  text-decoration-line: none; }

.__header-ino-n {
  margin: 0% 10%;
  /*align-self: center; /*acomodar solo una cajita de toda la caja*/ }

.__header-ir {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase; }

.__header-i {
  border-radius: 21px;
  border: 1px solid #FF82EE;
  max-height: 20px;
  width: 70px;
  padding: 2% 15% 2% 10%;
  /*porque son dos palabras y para que no se muevamin-width: 95px;├ç*/
  display: inline-block;
  /*agarre todo su contenido*/
  margin: 0% 25% 0% 5%;
  white-space: nowrap; }

.__header-r {
  border-radius: 21px;
  border: 1px solid #FF82EE;
  background: #FF82EE;
  color: ivory;
  max-height: 20px;
  width: 70px;
  padding: 2% 12% 2% 11%; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f8f8f8;
  background: #f8f8f8;
  color: #010101;
  box-shadow: 0px 1px 5px black;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 300;
  position: static;
  bottom: 0;
  z-index: 2;
  max-width: 100%; }

.__footer-sign {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: 500; }

.__footer-ino {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  justify-content: space-evenly; }

.__footer-ino_n {
  margin: 0% 10% 0% 10%; }

body {
  background: #F8F8F8; }

.__bienvenida-container {
  display: flex;
  flex-direction: column;
  width: 36%;
  padding: 5%;
  position: absolute;
  bottom: 230px;
  right: 15px;
  z-index: 1; }

.__bienvenida-container-titulo {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 34px;
  display: flex;
  justify-content: center; }

.__bienvenida-container-button {
  background-color: #FF82EE;
  border-radius: 16px;
  color: #F8F8F8;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  padding: 8px 0;
  margin: 16% 0% 0% 0%;
  display: flex;
  justify-content: center; }

body {
  background: #f8f8f8; }

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*apilar las cajas*/
  background: #f8f8f8;
  color: #010101;
  box-shadow: 0px 1px 5px black;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 1% 0%;
  position: fixed;
  top: 0px;
  z-index: 2;
  max-width: 100%; }

.__header-sign {
  display: flex;
  align-self: center;
  margin: 0% 0% 0% 3%;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 15px; }

.__header-ino {
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 13px;
  list-style: none; }

.__header-ino-n {
  margin: 0% 20%; }

.__header-ir {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase; }

.__header-ir-i {
  border-radius: 21px;
  border: 1px solid #FF82EE;
  max-height: 20px;
  width: 70px;
  padding: 2% 15% 2% 10%;
  /*porque son dos palabras y para que no se muevamin-width: 95px;├ç*/
  display: inline-block;
  /*agarre todo su contenido*/
  margin: 0% 25% 0% 5%;
  white-space: nowrap;
  width: 156px;
  height: 17px;
  font-family: Lato; }

.__header-ir-r {
  border-radius: 21px;
  border: 1px solid #FF82EE;
  background: #FF82EE;
  color: ivory;
  /* max-height: 20px;*/
  width: 70px;
  padding: 2% 12% 2% 11%;
  width: 156px;
  height: 17px;
  font-family: Lato; }

.__cuentanos-empresa-container {
  display: flex;
  flex-direction: column;
  width: 36%;
  padding: 5%;
  position: absolute;
  right: 15px;
  z-index: 1;
  top: 80px; }

.__login-caption {
  width: 279px; }

.__cuentanos-empresa-container-titulo {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 34px;
  display: flex;
  justify-content: center;
  width: 375px;
  height: 51px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #182121; }

.__cuentanos-empresa-container-subtitulo {
  width: 426px;
  height: 18px;
  font-family: Lato;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #323635;
  margin: 0% 0 5% 0; }

.__cuentanos-empresa-formulario {
  width: 50%;
  display: flex;
  flex-direction: column; }

.__cuentanos-empresa-form-label {
  font-family: "Lato", sans-serif;
  width: 121px;
  height: 12px;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #b9b9b9;
  margin: 2% 0% 0% 0%; }

.__cuentanos-empresa-form-input {
  border: 1px solid #323635;
  font-family: Lato;
  font-size: 12px;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 8px -81% 1% 1%;
  padding-bottom: 8px;
  background-color: #f8f8f8; }

.__cuentanos-empresa-form-button {
  background-color: #FF82EE;
  border-radius: 16px;
  color: #F8F8F8;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  padding: 8px 0;
  margin: 25% 0% 0% 0%;
  display: flex;
  justify-content: center; }

.__footer-sign {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: 500; }

.__footer-ino {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  justify-content: space-evenly; }

.__footer-ino-n {
  margin: 0% 10% 0% 10%; }

footer {
  line-height: 2; }

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*apilar las cajas*/
  background: #f8f8f8;
  color: #010101;
  box-shadow: 0px 1px 5px black;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 1% 0%;
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%; }

.__header-sign {
  display: flex;
  align-self: center;
  margin: 0% 0% 0% 3%;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 15px; }

.__header-ino {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 13px;
  list-style: none; }

.__header-ino-n {
  margin: 0% 10%; }

.__header-ir {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase; }

.__header-ir-i {
  border-radius: 21px;
  border: 1px solid #FF82EE;
  max-height: 20px;
  width: 70px;
  padding: 2% 15% 2% 10%;
  /*porque son dos palabras y para que no se muevamin-width: 95px;├ç*/
  display: inline-block;
  /*agarre todo su contenido*/
  margin: 0% 25% 0% 5%;
  white-space: nowrap; }

.__header-ir-r {
  border-radius: 21px;
  border: 1px solid #FF82EE;
  background: #FF82EE;
  color: ivory;
  max-height: 20px;
  width: 70px;
  padding: 2% 12% 2% 11%; }

.__cuentanos-tu-container {
  display: flex;
  flex-direction: column;
  width: 36%;
  padding: 5%;
  position: absolute;
  right: 15px;
  z-index: 1;
  top: 80px; }

.__cuentanos-tu-container-titulo {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 34px;
  display: flex; }

.__cuentanos-tu-container-subtitulo {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 0% 0 5% 0; }

.__cuentanos-tu-formulario {
  width: 50%;
  display: flex;
  flex-direction: column; }

.__cuentanos-tu-form-label {
  width: 48px;
  height: 12px;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #b9b9b9; }

.__cuentanos-tu-form-input {
  border: 1px solid #323635;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 8px -81% 1% 1%;
  padding-bottom: 8px;
  background-color: #f8f8f8; }

.__cuentanos-tu-form-button {
  background-color: #FF82EE;
  border-radius: 16px;
  color: #F8F8F8;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  padding: 8px 0;
  margin: 25% 0% 0% 0%;
  display: flex;
  justify-content: center; }

.__footer-sign {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: 500; }

.__footer-ino {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  justify-content: space-evenly; }

.__footer-ino-n {
  margin: 0% 10% 0% 10%; }

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*apilar las cajas*/
  background: #f8f8f8;
  color: #010101;
  box-shadow: 0px 1px 5px black;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 1% 0%;
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%; }

.__header-sign {
  display: flex;
  align-self: center;
  margin: 0% 0% 0% 3%;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 15px; }

.__header-ino {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 13px;
  list-style: none; }

.__header-ino-n {
  margin: 0% 10%; }

.__header-ir {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase; }

.__header-ir-i {
  border-radius: 21px;
  border: 1px solid #FF82EE;
  max-height: 20px;
  width: 70px;
  padding: 2% 15% 2% 10%;
  /*porque son dos palabras y para que no se muevamin-width: 95px;├ç*/
  display: inline-block;
  /*agarre todo su contenido*/
  margin: 0% 25% 0% 5%;
  white-space: nowrap; }

.__header-ir-r {
  border-radius: 21px;
  border: 1px solid #FF82EE;
  background: #FF82EE;
  color: ivory;
  max-height: 20px;
  width: 70px;
  padding: 2% 12% 2% 11%; }

.__seleccion-empresa-container {
  display: flex;
  flex-direction: column;
  width: 36%;
  padding: 5%;
  position: absolute;
  right: 8px;
  z-index: 1;
  top: 75px; }

.__seleccion-empresa-container-titulo {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 34px;
  display: flex; }

.__seleccion-empresa-container-subtitulo {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 15px; }

.__seleccion-empresa-formulario {
  width: 50%;
  display: flex;
  flex-direction: column; }

.__seleccion-empresa-form-label {
  width: 95px;
  height: 12px;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #b9b9b9;
  margin: 7% 0% 0% 0%; }

.__seleccion-empresa-form-input {
  border: 1px solid #323635;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 8px -81% 1% 1%;
  padding-bottom: 8px;
  background-color: #f8f8f8;
  font-family: 'Lato';
  width: 330px; }

.__seleccion-empresa-form-button-uni {
  background-color: #FF82EE;
  border-radius: 16px;
  color: #F8F8F8;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  padding: 8px 168px;
  margin: 25% 0% 0% 0%;
  display: flex;
  justify-content: center; }

.__seleccion-caption-strong {
  width: 190px;
  height: 29px;
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.2;
  letter-spacing: normal;
  text-align: left;
  color: #ff82ee; }

.__seleccion-empresa-margen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 347px;
  margin: 60% 0% 0% 0%; }

.__seleccion-empresa-margen-linea {
  width: 45%;
  height: 1px;
  border: 1px solid grey;
  border-left: 0;
  border-right: 0;
  border-top: 0; }

.__seleccion-empresa-form-button-reg {
  border: 2px solid #FF82EE;
  background: ivory;
  border-radius: 16px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 167px;
  margin: 9% 0% 0% 0%;
  display: flex;
  justify-content: center; }

.__footer-sign {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: 500; }

.__footer-ino {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  justify-content: space-evenly;
  font-family: "Lato", sans-serif; }

.__footer-ino-n {
  margin: 0% 10% 0% 10%; }

.__seleccion-empresa2-container {
  display: flex;
  flex-direction: column;
  width: 36%;
  padding: 5%;
  position: absolute;
  right: 8px;
  z-index: 1;
  top: 75px; }

.__seleccion-empresa2-container-titulo {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 34px;
  display: flex; }

.__seleccion-empresa2-container-subtitulo {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 15px; }

.__seleccion-empresa2-formulario {
  width: 50%;
  display: flex;
  flex-direction: column; }

.__seleccion-empresa2-form-label {
  width: 93px;
  height: 12px;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #b9b9b9;
  width: 100px;
  margin: 10% 0 0 0; }

.__seleccion-empresa2-form-input {
  border: 1px solid #323635;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 8px -81% 1% 1%;
  padding-bottom: 8px;
  background-color: #f8f8f8;
  font-family: 'Lato';
  width: 330px; }

.__seleccion-empresa2-form-button-uni {
  background-color: #FF82EE;
  border-radius: 16px;
  color: #F8F8F8;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  padding: 8px 168px;
  margin: 25% 0% 0% 0%;
  display: flex;
  justify-content: center; }

.__seleccion2-caption-strong {
  width: 190px;
  height: 29px;
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.2;
  letter-spacing: normal;
  text-align: left;
  color: #ff82ee;
  margin: 0 0 0 35%; }

.__seleccion-empresa2-form-button-reg {
  border: 2px solid #FF82EE;
  background: ivory;
  border-radius: 16px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 167px;
  margin: 9% 0% 0% 0%;
  display: flex;
  justify-content: center; }

.__footer-sign {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: 500; }

.__footer-ino {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  justify-content: space-evenly;
  font-family: "Lato", sans-serif; }

.__footer-ino-n {
  margin: 0% 10% 0% 10%; }

.__seleccion-perfil-perfiles {
  display: flex;
  width: 36%; }

.__seleccion-pefil-perfiles-empleado-img {
  width: 149px;
  height: 147px; }

.__seleccion-pefil-perfiles-gerente-img {
  width: 149px;
  height: 147px; }

.__seleccion-pefil-perfiles-jefe-img {
  width: 149px;
  height: 147px; }

.__seleccion-pefil-perfiles-empleado {
  margin: 25% 6%;
  font-family: Lato;
  font-size: 12px; }

.__seleccion-pefil-perfiles-gerente {
  margin: 25% 6%;
  font-family: Lato;
  font-size: 12px; }

.__seleccion-pefil-perfiles-jefe {
  margin: 25% 6%;
  font-family: Lato;
  font-size: 12px; }

.__seleccion-perfil-container {
  display: flex;
  flex-direction: column;
  width: 36%;
  padding: 5%;
  position: absolute;
  right: 50px;
  z-index: 1;
  bottom: 0px; }

.__seleccion-perfil-container-titulo {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 34px;
  display: flex;
  justify-content: center; }

.__seleccion-perfil-container-subtitulo {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 15px; }

.main-page__img {
  background-image: url(../img/main-page.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 50%;
  height: 100vh;
  position: absolute;
  right: 0;
  z-index: -1; }

.main-page__info-container {
  padding: 6.25vw; }
  .main-page__info-container .headline-one, .main-page__info-container .headline-five {
    margin-bottom: 1rem; }

footer a {
  color: inherit;
  text-decoration-line: none; }

header a {
  color: inherit;
  text-decoration-line: none; }

.headline-one {
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300; }

.headline-two {
  font-size: 3.7rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300; }

.headline-three {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400; }

.headline-five {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500; }

.button-normal {
  display: flex;
  border-radius: 1rem;
  background-color: #FF82EE;
  width: 10rem;
  height: 2.26rem;
  color: #F8F8F8;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: center; }

.button-normal:hover {
  background-color: #CA50BB; }

.articulos__body {
  background-color: #EBEBEB; }

.sections__container {
  background-color: #F8F8F8;
  margin: 0 5rem 0 5rem;
  padding: 5rem 1rem 1rem 1rem;
  max-width: 100%;
  box-sizing: border-box; }

.info-article {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  max-height: 31.25rem;
  height: 61.87vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 4.43rem 1fr;
  gap: 1rem 0; }
  .info-article .headline-three {
    grid-column: 1/2;
    grid-row: 1/2; }
  .info-article .info-article__p {
    grid-column: 1/2;
    grid-row: 2/3; }
  .info-article .info-article__img {
    grid-column: 2/3;
    grid-row: 1/3; }

.info-article-two {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  max-height: 31.25rem;
  height: 61.87vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 4.43rem 1fr;
  gap: 0 1rem; }
  .info-article-two .headline-three {
    grid-column: 2/3;
    grid-row: 1/2; }
  .info-article-two .info-article__p {
    grid-column: 2/3;
    grid-row: 2/3; }
  .info-article-two .info-article__img {
    grid-column: 1/2;
    grid-row: 1/3; }

.info-article__p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 1rem 0 0; }

.info-article__img {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .info-article__img img {
    width: 100%;
    height: auto; }
  .info-article__img video {
    height: 202%;
    width: auto; }

.__header-inicio {
  width: 1280px;
  height: 70px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  position: fixed; }

.__header-salir {
  align-self: center;
  width: 33px;
  height: 18px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #182121; }

.__nav-hp {
  width: 358px;
  height: 730px;
  background-color: #f8f8f8; }
  .__nav-hp .__nav-hp-cajas {
    display: flex;
    position: absolute;
    z-index: 0;
    top: 80px;
    flex-direction: column; }
  .__nav-hp .__nav-horarios {
    width: 358px;
    height: 77px;
    box-shadow: -1px 2px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f8f8f8;
    position: absolute;
    right: 0;
    z-index: 2; }
  .__nav-hp .__nav-procesos {
    width: 358px;
    height: 77px;
    box-shadow: -1px 2px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f8f8f8;
    position: absolute;
    right: 0;
    z-index: 3; }

.__body-inicio-app {
  width: 1280px;
  height: 800px;
  background-color: #ebebeb; }

.__iniciar-sesion-img {
  min-width: 50%;
  height: 100vh; }

/*# sourceMappingURL=master.css.map */
