@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:300,400,500,700&display=swap');
$font_titulos :'Oswald', sans-serif;
$font_cuerpo :'Lato', sans-serif;
$peso_titulos: 500;
$size_titulos: 34px;