.__login-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5%;
    position: absolute;
    right: 0;
}
.__login-titulo{

    font-family: $font_titulos;
    font-weight: $peso_titulos;
    font-size: $size_titulos;
}
.__login-formulario{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.__login-form-label{
    font-family: $font_cuerpo;
    color: $color_blanco_oscuro;
}
.__login-form-input{
    border: 1px solid $color_negro_claro;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 8px 0;
    padding-bottom: 8px;
}
.__login-form-button{
    background-color: $color_rosa;
    border-radius: 16px;
    color : $color_blanco_claro;
    font-family: $font_cuerpo;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    padding: 8px 0;
    margin: 3% 0;
}
.__login-form-button:hover{
    background-color: $color_rosa_oscuro;
}
.__login-caption{
    width: 50%;
    font-size: 10px;
    font-family: $font_cuerpo;
    color: $color_blanco_oscuro;
    text-align: center;
}
.__login-caption-strong{
    font-size: inherit;
    font-family: inherit;
    color: $color_rosa;
    font-weight: bold;
    text-decoration-line: underline;
}