
.main-page__img{
 background-image: url(../img/main-page.png);
 background-repeat: no-repeat;
 background-size: contain;
 background-position: right;
 width: 50%;
 height: 100vh;
 position: absolute;
 right: 0;
 z-index: -1;
}
.main-page__info-container{
padding: 6.25vw;
    .headline-one,.headline-five{
    margin-bottom: 1rem; 
    }
    
}
footer{
    a{
        color: inherit;
    text-decoration-line: none;

    }
}
header{
    a{
        color: inherit;
    text-decoration-line: none;

    }
}