//Aqui solo van los imports
@import "reiniciar";
@import "fonts";
@import "color";
@import "barra-navegacion";
@import "login";
@import "bienvenida";
@import "cuentanos-empresa";
@import "cuentanos-tu";
@import "seleccion-empresa";
@import "seleccion-empresa2";