@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:400,700');
/*  Titulos en 700, subtitulos en 400: 
		font-family: 'Oswald', sans-serif; 
	Cuerpo en 400, palabras pequeñas en 300, palabras gruesas en 700 
		font-family: 'Lato', sans-serif;
	*************************************************************************
	Colores: 
		Principal: #F8CA00
		Pincipal-ligero: #FFD519
		Secundario: #3737AD
		Secundario-ligero=#4444d6
		Negro: #191919
		Negro-ligero:#3a3a3a
		white: #eaeaea


*/
*{
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	font-size: 16px;
}
.front_page{
	height: 100vh;
	width: 100vw;
	position: relative;
	padding: 0 0 0 0;
	background-color: #F8CA00;
}
.nav_bar{
	width: 90%;
	color: #3a3a3a;
	padding: 0 0% 0 0;
	display: flex;
	justify-content:space-between; 
	align-items: center;
}
.nav_bar-tittle{
	font-weight: 700;	
	color: inherit ;
	text-transform: uppercase;
}

.nav_bar-list{
	width: 20%;
	display: flex;
	justify-content:space-between; 
	align-items: center;
	
}
.nav_bar-list-item{
	margin: 0 1% 0 0;
	width: 100%;
}
.cta_tittles{
	margin: 10% 5% 0 5%;
	display: inherit;
	text-transform: uppercase;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}
.cta_tittles-h1{
	font-size: 4rem;
	letter-spacing: 1rem;
	font-weight: 700; 
	margin : 0 0 10% 0;
}
.cta_tittles-h2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2rem;
	letter-spacing: .5rem;
	font-weight: 400; 
}
.cta_buttons{
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn_inicia{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 5%;
	color: #eaeaea;
	width: 15%;
	height: 5%;
	font-weight: 700;
	background-color: #3737AD;
	border-radius: 2rem;
}
.btn_inicia:hover{
	background-color: #4444d6;
}
.btn_despliegue{
	border: 1px solid orange;
}